<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467461230118-tah86rhfelt1b3vi609fr7kivbibgnh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467461230118-tah86rhfelt1b3vi609fr7kivbibgnh3</string>
	<key>API_KEY</key>
	<string>AIzaSyCVISjA3MAjjQBV3GVAAETz_ZN1UUTyR4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>467461230118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>test-app-8e0db</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-8e0db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467461230118:ios:f831d71449a9cae00260e7</string>
</dict>
</plist>